* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Libre Baskerville', serif; /*estilo de fonte trazida do fonts.google*/
    font-weight: normal;
    font-size: 25px;
}

body,
input,
textarea {
    font-family: 'Ubuntu', sans-serif; /*tudo que estiver no body fica com a fonte ubuntu*/
}

header {
    padding: 30px 30px;
    background-color: rgb(85, 57, 32);
    color:rgb(255, 253, 253);
}

header nav li {
    display: flow-root;
    margin-left: 20px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

header nav li a{
    color: aliceblue;
    text-decoration: none;
}

.container {
    display: flex;
    max-width: 1388px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

header .line{  
    display: flex; /*colocar titulo lado a lado do menu*/
    align-items: center; /* alinha as alturas do titulo e menu*/
    justify-content: space-between; /*alinhados a esquerda e direita*/
}

section .container img {
    width: 360px; /*Largura*/
    height: 230px; /*Altura*/ 
}

#capa {
    max-width: 100%; /*A seção não ultrapassa a largura da janela do navegador*/
    text-align: center; /*Centraliza a imagem horizontalmente dentro da seção*/
}

#capa img {
    max-width: 100%; /*A imagem não ultrapassa a largura da seção*/
    height: auto; /*Mantém a proporção da imagem*/
}

section h2 {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 25px;
}

section{
    color: #000000; /*adiciona a cor ao título h2*/
    padding: 24px 0; /*espaçamento superior de 16px e 0px nas laterais*/
}

section p {
    margin-right: 50px;
    text-align: justify;
    font-size: 20px;
}

section p {
    margin-bottom: 8px; /*espaçamento do parágrafo*/
}

.article {
    display: flex;
    flex-wrap: wrap; /*faz com que quando acabar a linha, ele pula o conteúdo para baixo*/
    justify-content: space-between; /*espaça o conteúdo de forma igualitária*/
}

.container article {
    margin-bottom: 10px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}   

.social-links li a {
    text-decoration: none;
}

#contact .social-links img {
    height: 50px;
    width: auto;
}

#contact .container{
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    width: 96%;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none; /*impede que o campo textarea sera redimensionado pelo usuário*/
    height: 180px;
}

form button{
    background-color: #632d02;
    color: #fff;
    border: none;
    cursor: pointer; /*faz com que apareça o cursor de "clicável"*/
}

footer {
    background-color:#632d02;
    color: #ecf0f1;
    padding: 16px 0px;
    text-align: center;
}